body {
    padding: 0;
    margin: 0;
    background: #142d4c;
}
.navbar {
    background: #142d4c;
    
}
.nav-link,
.navbar-brand {
    color: Yellow;
    cursor: pointer;
    font-family: Times New Roman;
    font-size: large;
    
    
}

.navbar-img {
    
    height: 50px;
    width: 50px;
    
}

.Courses{
    background-color: #b4ad46;
    height: 480px;
    text-align: center;
    font-family: 'Times New Roman', Times, serifs;
    font-style: oblique;

    
}

.course-heading{
    text-decoration-line: underline;
    color: #142d4c;

}

.course-name{
    color: #142d4c;

}

.course-text{
    color: #142d4c;
    font-family: 'Times New Roman', Times, serifs;
    font-style: oblique;
}




    
    


 
.nav-link {
    margin-right: 1em !important;
    

    
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}



.header {
    background-image: url('images/office.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}



.description {
    
    color: #b4ad46;
    font-weight:bolder;
    font-style:oblique;
    font-size: large;
    font-family:'Times New Roman', Times, serif ;
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
    line-height: 3;

    }


    .description h1 {
        color: #b4ad46;
        line-height: 2.5;
        animation-duration: 2s;
        animation-name: move-to-right;
        filter: brightness(1.75);
        
        
    }
    @keyframes move-to-right {
        0% {
          transform: translateX(-10rem);
          opacity: 0;
          filter: brightness(.55)
        }
        10% {
          opacity: 0.8;
          filter: brightness(.75)
        }
        80% {
          transform: translateX(2rem);
          filter: brightness(1)
        }
        100% {
          transform: translate(0);
          opacity: 1;
          filter: brightness(1.75);
        }
       }
    .description p {
        color: #b4ad46;
        font-size: 1.3rem;
        line-height: 1.5;
        top: 20px;
        height: -2em;
        padding-bottom: 2em;
        animation-duration: 2s;
        animation-name: move-to-left;
        filter: brightness(1.0);
        
    }
    @keyframes move-to-left {
        0% {
          transform: translateX(10rem);
          opacity: 0;
          filter: brightness(.45);
        }
        10% {
          opacity: 0.8;
        }
        80% {
          transform: translateX(-2rem);
          filter: brightness(.75);
        }
        100% {
          transform: translate(0);
          opacity: 1;
          filter: brightness(1.0);
        }
       }

    
    





.description button {
        border: 10px solid #b4ad46;
        background: #b4ad46;
        border-radius: 0;
        color:#fff;
        line-height: 1.5;
        animation-duration: 1.6s;
        animation-name: move-to-top;
        filter: brightness(1.25);
        

        
        
         

    }

    @keyframes move-to-top {
        0% {
          transform: translateY(6rem);
          opacity: .5;
          filter: brightness(.5);
          
        }
        100% {
          transform: translate(0);
          opacity: 1;
          filter: brightness(1);
          
        }
       }

       

    .description button:hover {
        border:1px solid #fff;
        background:#fff;
        color:#000;
    }







.container.features{
    position: relative;
    background-color: color(srgb red green blue) !important;
    

}

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;

}
.feature-title {
	color: #ffef00;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
    font-style: oblique;
    text-decoration-line: underline;
    font-family: 'Times New Roman', Times, serifs;
    font-style: oblique ;
    margin-top: -5px;
   
}






    

.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

.features .form-control,
.features input {
	border-radius: 0;

    
    
    

}
.features .btn {
    background-color: #ffc40c;
    border: 1px solid black;
    color: #fff;
    margin-top: 10px;
    margin-bottom: -20px;
}
.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}



.page-footer {
    
    border:1px solid #b4ad46;
    background: #b4ad46;
    color: black;
    padding: 60px 0 30px;
    font-family: 'Times New Roman', Times, serifs;
    font-style: oblique;
    
}



    



.footer-copyright {
    color: yellow; 
    padding: 40px 15px;
    margin-left: 0px;
    
}

.rlogo{
    height: 50px;
    width: 50px;
    padding: 7px;
    animation: rotation .5s infinite linear;


}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }






@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
 
    .description h1 {
        font-size: 2em;
    }
 
    .description p {
        font-size: 1.2rem;
    }

    .description button{
        
        padding: 2px;
        font-size: 1rem;
    }

    
 
    .features {
        margin:15px;
        
        
        
    }

    .feature-title{
        text-align: center;
        margin-top: 20px;
    }

    .page-footer{
        text-align: center;
    }

    .footer-copyright{
        text-align: center;

    }
    

    

    

    
}